
{% extends "polls/base.html" %}
{% load staticfiles %}

{% block title %}Polls/{{question.question_text}} {% endblock %}


{% block header %}
    <h1>{{ question.question_text }}</h1>
{% endblock %}
{%block container %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <h2> Pick an answer </h2>
    <!---
        We set the form’s action to {% url 'polls:vote' question.id %}, and we set method="post". Using method="post" (as opposed to method="get") is very important, because the act of submitting this form will alter data server-side. Whenever you create a form that alters data server-side, use method="post". This tip isn’t specific to Django; it’s just good Web development practice.

    -->
    <form action="{% url 'polls:vote' question.id %}" method="post" id="voteForm">
    <!--
        Since we’re creating a POST form (which can have the effect of modifying data), we need to worry about Cross Site Request Forgeries. Thankfully, you don’t have to worry too hard, because Django comes with a very easy-to-use system for protecting against it. In short, all POST forms that are targeted at internal URLs should use the {% csrf_token %} template tag.
    -->
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    {% endfor %}

    <br>
    </form>

{% endblock %}
{% block rAction %}
    <button class="actionButton rbutton" type="submit" form="voteForm">
            Vote
    </button>
{% endblock %}